<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
      <!--
            The CKSetup is done on the BinFolder of the test application because we need to setup a database
            with CK.DB.User.UserPassword and CK.DB.User.UserGoogle in it in order to have something to test.
      -->
      <add key="CKSetup/DefaultBinPaths" value="{BinFolder}" />
      <add key="Monitor/LogToTextFile" value="true" />
  </appSettings>
  
</configuration>
