<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
      <add key="Monitor/LogToTextFile" value="true" />
      <add key="StObjMap/DynamicAssemblyName" value="WebApp.Tests.Generated" />
      <add key="SqlServer/DatabaseName" value="TEST_WEB_APP_AUTH" />
  </appSettings>
  
</configuration>
