<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
      <add key="DefaultBinPaths" value="{BinFolder};{SolutionFolder}/Tests/Integration/WebApp/bin/{BuildConfiguration}/net461" />
      <add key="Monitor/LogToTextFile" value="true" />
      <add key="SqlServer/DatabaseName" value="TEST_WEB_APP_AUTH" />
  </appSettings>
  
</configuration>
