<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.AspNet.Auth.Generated" />
    <add key="RecurseAssembliesToSetup" value="CK.DB.Auth, CK.DB.Actor, CK.DB.User.UserPassword, CK.DB.User.UserGoogle" />
    <add key="DatabaseTestName" value="TEST_CK_DB_ASPNET_AUTH_SERVICE" />
  </appSettings>
  
</configuration>
