<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--
            The CKSetup is done on the DBWithPasswordAndGoogle bin folder with CK.DB.User.UserPassword
            and CK.DB.User.UserGoogle in it.
            Working on a non-published netcoreapp2.0 folder does not work.
        -->
        <add key="CKSetup/DefaultBinPaths" value="../DBWithPasswordAndGoogle/bin/{BuildConfiguration}/netcoreapp2.0" />
        <add key="Monitor/LogToTextFile" value="true" />
    </appSettings>
</configuration>
