<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.AspNet.AuthService.Generated" />
    <add key="RecurseAssembliesToSetup" value="CK.DB.Auth, CK.DB.Actor" />
    <add key="DatabaseTestName" value="TEST_CK_ASPNET_AUTH_SERVICE" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>